In [21]:
# Importing necessary libraries
import os
import pandas as pd
import numpy as np

In [22]:
# I'm Loading the datset
file_path = '/content/Housing.csv'
df = pd.read_csv(file_path)

In [23]:
# process of displaying the first and last 5 rows
print("First 5 rows of the dataset:")
df.head()

First 5 rows of the dataset:

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,Unnamed: 13,Unnamed: 14
0,8645000,4560.0,3,2,2,yes,yes,yes,no,yes,1,no,fully furnished,NaN,545.0
1,8043000,7482.0,3,2,3,yes,no,no,yes,no,1,yes,fully furnished,NaN,NaN
2,7000000,11175.0,3,1,1,yes,no,yes,no,yes,1,yes,fully furnished,NaN,NaN
3,13300000,7420.0,4,2,3,yes,no,no,no,yes,2,yes,furnished,NaN,NaN
4,12250000,8960.0,4,4,4,yes,no,no,no,yes,3,no,furnished,NaN,NaN

In [24]:
print("\nLast 5 rows of the datset:")
df.tail()

Last 5 rows of the datset:

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,Unnamed: 13,Unnamed: 14
540,1890000,3649.0,2,1,1,yes,no,no,no,no,0,no,unfurnished,NaN,NaN
541,1855000,2990.0,2,1,1,no,no,no,no,no,1,no,unfurnished,NaN,NaN
542,1820000,3000.0,2,1,1,yes,no,yes,no,no,2,no,unfurnished,NaN,NaN
543,1750000,3620.0,2,1,1,yes,no,no,no,no,0,no,unfurnished,NaN,NaN
544,1750000,3850.0,3,1,2,yes,no,no,no,no,0,no,unfurnished,NaN,NaN

In [25]:
# Check and print data types
print("\nData types of each column:")
df.dtypes

Data types of each column:

price                 int64
area                float64
bedrooms              int64
bathrooms             int64
stories               int64
mainroad             object
guestroom            object
basement             object
hotwaterheating      object
airconditioning      object
parking               int64
prefarea             object
furnishingstatus     object
Unnamed: 13         float64
Unnamed: 14         float64
dtype: object

In [26]:
# Checking and printing the column-wise null counts in the dataset
duplicates_count = df.duplicated().sum()
print(f"\nNumber of duplicate rows in the dataset: {duplicates_count}")
print("\nColumn-wise null value count:")
df.isnull().sum()

Number of duplicate rows in the dataset: 0

Column-wise null value count:

price                 0
area                  4
bedrooms              0
bathrooms             0
stories               0
mainroad              0
guestroom             0
basement              0
hotwaterheating       0
airconditioning       0
parking               0
prefarea              0
furnishingstatus      0
Unnamed: 13         545
Unnamed: 14         544
dtype: int64

In [27]:
# printing the numbers of rows and columns in the dataset
rows, cols = df.shape
print(f"\nThe dataset contains {rows} rows and {cols} columns.")

The dataset contains 545 rows and 15 columns.

In [28]:
# Filterning and displaying the rows where the 'price' is greater than 30
if 'price' in df.columns:
    filtered_rows = df[df['price'] > 30]
    print("\nRows where 'price' is greater than 30:")
    print(filtered_rows)
else:
    print("\nThe 'price' column is not available in the dataset.")

Rows where 'price' is greater than 30:
        price     area  bedrooms  bathrooms  stories mainroad guestroom  \
0     8645000   4560.0         3          2        2      yes       yes
1     8043000   7482.0         3          2        3      yes        no
2     7000000  11175.0         3          1        1      yes        no
3    13300000   7420.0         4          2        3      yes        no
4    12250000   8960.0         4          4        4      yes        no
..        ...      ...       ...        ...      ...      ...       ...
540   1890000   3649.0         2          1        1      yes        no
541   1855000   2990.0         2          1        1       no        no
542   1820000   3000.0         2          1        1      yes        no
543   1750000   3620.0         2          1        1      yes        no
544   1750000   3850.0         3          1        2      yes        no

    basement hotwaterheating airconditioning  parking prefarea  \
0        yes              no             yes        1       no
1         no             yes              no        1      yes
2        yes              no             yes        1      yes
3         no              no             yes        2      yes
4         no              no             yes        3       no
..       ...             ...             ...      ...      ...
540       no              no              no        0       no
541       no              no              no        1       no
542      yes              no              no        2       no
543       no              no              no        0       no
544       no              no              no        0       no

    furnishingstatus  Unnamed: 13  Unnamed: 14
0    fully furnished          NaN        545.0
1    fully furnished          NaN          NaN
2    fully furnished          NaN          NaN
3          furnished          NaN          NaN
4          furnished          NaN          NaN
..               ...          ...          ...
540      unfurnished          NaN          NaN
541      unfurnished          NaN          NaN
542      unfurnished          NaN          NaN
543      unfurnished          NaN          NaN
544      unfurnished          NaN          NaN

[545 rows x 15 columns]

In [29]:
# Filling the missing values in the 'area' column with its mean
if 'area' in df.columns:
    area_mean = df['area'].mean()
    df['area'] = df['area'].fillna(area_mean)
    print("\nMissing values in the 'area' column have been replaced with the column's mean.")
else:
    print("\nThe 'area' column is not available in the dataset.")

Missing values in the 'area' column have been replaced with the column's mean.

In [30]:
# Converting the updated dataset to JSON format
dataset_json = df.to_json()
print("\nDataset converted to JSON format (partial view):")
print(str(dataset_json)[:500])

Dataset converted to JSON format (partial view):
{"price":{"0":8645000,"1":8043000,"2":7000000,"3":13300000,"4":12250000,"5":12215000,"6":11410000,"7":9870000,"8":9800000,"9":9240000,"10":8960000,"11":8890000,"12":8645000,"13":8575000,"14":8540000,"15":8295000,"16":8120000,"17":8080940,"18":7980000,"19":7875000,"20":7840000,"21":7560000,"22":7525000,"23":7490000,"24":7350000,"25":7245000,"26":7210000,"27":7070000,"28":7035000,"29":6930000,"30":6930000,"31":6860000,"32":6790000,"33":6685000,"34":6650000,"35":6650000,"36":6650000,"37":6650000,"3

In [31]:
# Exporting the updated dataset as a CSV file
output_file_path = '/content/updated_task_Housing.csv'
df.to_csv(output_file_path, index=False)
print(f"\nUpdated dataset has been saved to: {output_file_path}")

Updated dataset has been saved to: /content/updated_task_Housing.csv